body {
  font-family: sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 20px; /* Add some space below the content */
}

label {
  display: block;
  margin-bottom: 5px;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin: 5px;
}

.level-buttons button {
  width: 20px;
}

#result {
  margin-top: 20px;
  font-weight: bold;
}


#qrfb {
  text-align: center;
}
footer {
  text-align: center;
  padding: 10px 0;
  background-color: #f2f2f2;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

.qr {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center buttons horizontally */
  gap: 10px; /* Add space between buttons */
}

.qr button {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin: 5px;
  /* width: 200px; Adjust button width as needed */
  display: block; /* Make buttons block-level elements */
  width: 100%; /* Make buttons fill their container width */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.qr img {
  max-width: 100%;
  height: auto;
}
